body
{
    margin : 0px;
    padding : 0px;;
}
h1
{
    background-color: cadetblue;
    margin : 0px;
    padding-top: 100px;
    padding-left: 30%;
    padding-bottom: 30px;
    color: black;
    font-size: xx-large;
    font-family: arial;
    letter-spacing:40px;
}
.ipsum
{
    font-size: large;
    background-color: black;
    color: rgb(97, 192, 255);
    margin-right: 70%;
    text-align: justify;
}
.BTN_1
{
    
    font-size: large;
    margin:0px;
    position:relative;
    text-decoration: none;
    text-align: center;
    display:inline-flex;    
}
a:link , a:visited
{
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: large;
    padding : 50px;
    margin :0px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
 
a:hover
{
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
   
   
}