#Banner
{
    background-color: rgb(0, 116, 161);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 39, 83);
    margin: 0px;
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 2%;
    text-align: start ;
    color: white;
    font-family: arial;
    font-size: 100px;
    font-stretch: ultra-expanded;
    text-shadow: 20px 2px 2px rgb(59, 59, 59);
    text-shadow: 30px 2px 2px rgb(92, 92, 92);
}

body
{
    background-color: rgb(29, 29, 29);
    color : rgb(0, 204, 255);
    margin: 0%;
}